@model HomeProjecTViewModels
@{
    ViewData["Title"] = "Hasan Akyüz";
}
<link rel="stylesheet" href="~/css/homeIndex.css">
<article>
    <div>
        <div id="firsttitle">
            <h1>Sayfama Hos Geldiniz</h1>
            <h3>@Model.homemodel.TiTle</h3>
            <h4>@Model.homemodel.subTiTle</h4>
            <h5>@Model.homemodel.shortabouTme</h5>
        </div>
    </div>

    <div id="seconftitle">
        <h1>Ben Kimim?</h1>
        <img src="/image//@Model.homemodel.ImageURL" />
        <p>@Model.homemodel.shortabouTme</p>
        <a asp-controller="Home" asp-action="AbouTMe">Daha Fazla</a>
    </div>

    <div id="thirdtitle">
        <h1>Eklenen Son Projem</h1>
        @if (Model.mylasTprojecT != null)
        {
            <img src="/image//@Model.mylasTprojecT.projecTImageURl" />

            <h3>@Model.mylasTprojecT.TiTle</h3>
            <p>@Model.mylasTprojecT.shorTdecripTion</p>
        }
            <a id="thirdtitlea" asp-controller="MyprojecTs" asp-action="ProjecTdeTail" asp-route-myprojecTID="@Model.mylasTprojecT.projecTID">Daha Fazla</a>
    </div>

    <div id="fourthtitle">
        <h1>Bazı Yapılan Projelerim</h1>
        @foreach (var myprojecT in Model.myprojecTmodel)
        {
            <img src="/image//@myprojecT.projecTImageURl" alt="@myprojecT.TiTle" />
            <h3>@myprojecT.TiTle</h3>
            <p>@myprojecT.shorTdecripTion</p>
        }
        <a asp-controller="MyprojecTs" asp-action="myprojecTIndex">Daha Fazla</a>
    </div>
</article>

<aside>
    <div>
        <h1>Sosyala Medya Hesaplarım</h1>
        <a href="https://github.com/hasanakyuz350">
            <img src="/image//siyah-beyaz-giThubs.png" alt="GiThubs" title="GiThubs">
        </a>
        <a href="https://www.linkedin.com/in/hasan-akyuz/">
            <img src="/image//LinkedIn.png"
                 alt="LinkedIn" title="LinkedIn">
        </a>
        <a asp-controller="ConTacT" asp-action="conTacTIndex">Bana mail gönder</a>
    </div>
</aside>
